ul li {
    list-style-type: none;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 27px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
    transform: scale(1);
}
.header-logo:hover {
    transform: scale(1.1);
}
.header-nav, .header-social {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 54px;
    margin: 0;
}
.header-social {
    gap: 30px;
}
.header-nav a {
    font-size: 18px;
    font-weight: 400;
    color: #2B3541;
    text-decoration: none;
    transition: 0.3s;
}
.header-social a {
    display: block;
    width: 30px;
    height: 30px;
    color: #2B3541;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.header-social a:hover {
    transform: scale(1.2);
    opacity: 1;
}
.header-inst {
    background-image: url(../images/IN.svg);   
}
.header-fb {
    background-image: url(../images/fb.svg);
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 1px;
    border-radius: 1px;
    display: block;
    background-color: transparent;
    margin-top: 3px;
    transition: 0.3s;
}
.header-nav a:hover::after {
    background-color: #2B3541;
}
.container-flex {
    display: flex;
    position: relative;
    margin-bottom: 160px;
}
.banner-box {
    padding-top: 228px;
    padding-bottom: 239px;
    color: #2B3541;
    flex: 0 0 676px;
    z-index: 1;
}
h1 span {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 125%;
    display: block;
    margin-bottom: 40px;
}
h1  {
    margin-top: 0;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-description {
    padding-left: 90px;
}
.banner-description p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
    max-width: 300px;
}
.banner-description a {
    color: #1E2F40;
    background-color: #FBF138;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
    line-height: 150%;
    transition: 0.3s;
}
.banner-description a:hover {
    color: #FBF138;
    background-color: #1E2F40;
    text-decoration: none;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.2);
}
.container-flex img { 
    position:absolute;
    height: 100%;
    width: 996px;
    right: -205px;
}
.banner-link {
    background-image: url(../images/Group\ 1.svg);
    display: block;
    width: 52px;
    height: 55px;
    color: #2B3541;
    position: absolute;
    left: 0;
    bottom: 0;
}
h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: #2B3541;
    margin-bottom: 40px;
}
.event {
    margin-bottom: 160px;
}
.events-list {
    display: flex;
    gap: 20px;
}
.events-cover:first-child {
    background-image: url(../images/maraphon@2x.png);
    width: 370px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.events-cover:first-child::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.3s;
}
.events-cover:first-child:hover::after {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.6;
}
.events-cover:nth-child(2) {
    background-image: url(../images/Vebinar1@2x.png);
    width: 370px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.events-cover:nth-child(2)::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.3s;
}
.events-cover:nth-child(2):hover::after {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.6;
}
.events-cover:last-child {
    background-image: url(../images/Vebinar2@2x.png);
    width: 370px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.events-cover:last-child::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: 0.3s;
}
.events-cover:last-child:hover::after {
    background: linear-gradient(180deg, #FBF138 0%, rgba(253, 249, 182, 0) 100%);
    opacity: 0.6;
}
.events-date {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    list-style-type: none;
    opacity: 0.6;
    margin: 30px 0 20px 32px;
}
.events-nane {
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    color: #2B3541;
    margin-left: 32px;
}
.events-sign {
    color: #FBF138;
    background-color: #1E2F40;
    text-decoration: none;
    padding: 20px 49px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 13px 24px rgba(70, 86, 106, 0.28);
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    left: 32px;
    top: 200px;
}
.events-cover:hover .events-sign, img {
    opacity: 1;
    z-index: 1;
}
.events-cover img {
    position: absolute;
    right: 0;
    bottom: 1px;
}